@font-face {
  font-family: hanson;
  src: url("./Hanson-Bold.ttf");
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background: #000 url("./bg.png") center/ cover no-repeat;
  height: 960px;
}
.App {
  position: relative;
  padding-top: 78px;
}

@media (min-width: 1250px) {
  body {
    margin-left: 368px;
    margin-right: 368px;
  }
}
.large_text {
  font-size: 100px;
  color: #fff;
  font-family: hanson;
}
button {
  font-size: 42.56px;
  color: #141365;
  cursor: pointer;
  padding: 12px 36px;
  display: inline-block;
  background: #c7c6fa;
  border-radius: 48.6478px;
  border: none;
  outline: none;
  margin-right: 26px;
  font-family: 'Mulish';
}
